{% extends 'base.html.twig' %}

{% block title %}Hello SurveyController!{% endblock %}

{% block body %}
    <title>Compte à Rebours d'un Mois</title>
    <br>
    <div class="countdown">
        <span id="days">00</span> jour
        <span id="hours">00</span> heures
        <span id="minutes">00</span> minutes
    </div>

    <script>
        var timeRemaining = "{{ timeRemaining }}";
        function updateCountDown(){
            //
            var parts = timeRemaining.split(' ');
            var days = parseInt(parts[0], 10);
            var hours = parseInt(parts[2], 10);
            var minutes = parseInt(parts[4], 10);

            document.getElementById('day').textContent = days + ' jours';
            document.getElementById('hour').textContent = hours + ' heures';
            document.getElementById('munite').textContent = minutes + ' minutes';
        }

        updateCountDown();

    </script>


{% endblock %}
